body {
    background-size: auto;
    background-position-x: center;
}

#kartyak{
    border-radius: 10px;
    text-decoration: none;
    text-align: center;
    margin-top: 5vh;
    margin-left: 3vw;
    margin-right: 3vw; 
    margin-bottom: 5vh;
}

#szoveg {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 210, 0);
    text-decoration: none;
    background-color: rgba(105, 105, 105, 0.8);
    border-radius: 10px;
    text-decoration: none;
    margin-top: 5vh;
    margin-left: 5vw;
    margin-right: 5vw; 
    margin-bottom: 5vh;
    text-align: center;
}

p, h2{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 210, 0);
    text-decoration: none;
    background-color: rgba(105, 105, 105, 0.8);
    border-radius: 10px;
    text-decoration: none;
    margin-left: 5vw;
    margin-right: 5vw;
}

li {
    font-size: 115%;
    list-style-type: none;
}
