ul.navbar {
    list-style: none;
    text-align: center; 
}

ul.navbar li { 
    display: inline-block;
    border: 1px, solid, black;  
    min-width: 15vw; 
    background-color: dimgrey;
    opacity: 0.85;
    border-radius: 3px;
}

ul.navbar li a {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(100, 210, 0);
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 750;
}